{%- assign title = page.title_page | default: page.title | default: site.title -%}
{%- if title -%}
  {%- if page.title_postfix.size > 0 -%}
    <title>{{ title | escape }} | {{ page.title_postfix | escape }}</title>
  {%- else -%}
    <title>{{ title | escape }}</title>
  {%- endif -%}
{%- endif -%}
{%- seo title=false -%}

{%- comment -%}
<link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon"/>
<link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon"/>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#005E79">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="msapplication-TileColor" content="#005E79">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="msapplication-config" content="/browserconfig.xml">
<meta name="theme-color" content="#005E79">
{%- endcomment -%}

{%- if page.tags -%}
  <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
{%- endif -%}
{%- assign theme_color = page.theme_color | default: site.theme_color -%}
{%- if theme_color -%}
  <meta name="theme-color" content="{{ theme_color }}">
{%- endif -%}

{%- comment -%}
{%- elsif site.title -%}
  {%- if page.title_postfix.size > 0 -%}
    <title>{{ site.title | escape }} | {{ page.title_postfix | escape }}</title>
  {%- else -%}
    <title>{{ site.title | escape }}</title>
  {%- endif -%}
{%- endcomment -%}
{%- comment -%}
{%- else -%}
  {%- if site.theme_color -%}
    <meta name="theme-color" content="{{ site.theme_color }}">
  {%- endif -%}
{%- endcomment -%}