<header class="site-header">
  <div class="site-title-header">
    <div id="title-side-fractal"></div>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <div class="site-title">
      <a rel="author" href="{{ "/" | relative_url }}">
        <h1>Trigger's</h1>
        <h2>&nbsp;Tools &amp; Games</h2>
        <span>&nbsp;(but mostly tools)</span>
      </a>
    </div>
  </div>
</header>