{% if include.id2 %}
<div class="video-inline-container">
  <div class="video-container inline left">
    <iframe src="https://www.youtube.com/embed/{{ include.id }}" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="video-container inline right">
    <iframe src="https://www.youtube.com/embed/{{ include.id2 }}" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
{% else %}
  {% if include.center %}
  <div class="video-inline-container">
    <div class="video-container inline center">
      <iframe src="https://www.youtube.com/embed/{{ include.id }}" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  {% else %}
  <div class="video-container">
    {% if include.width and include.height %}
    <iframe src="https://www.youtube.com/embed/{{ include.id }}" frameborder="0" width="{{ include.width }}" height="{{ include.height }}" allowfullscreen></iframe>
    {% else %}
    <iframe src="https://www.youtube.com/embed/{{ include.id }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}
  </div>
  {% endif %}
{% endif %}