/**BACKGROUND IMAGE**/
body {
  background: none;
  font-size: 12px;
}

body .data.progress, body .data.completion, body .data.playtime, body .data.start-finish {
  font-size: 11px;
}

body.anime {
  font-family: Tahoma, Arial, sans-serif !important;
}

html {
  background-color: #000 !important;
}

#bgright {
  position: absolute;
  top: 0;
  right: 0;
  background: url(https://s.vndb.org/s/angel/bgright.jpg?2.26-115-g6bc0d553) no-repeat;
  width: 433px;
  height: 140px;
}
#bgleft {
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://s.vndb.org/s/angel/bg.jpg?2.26-115-g6bc0d553) no-repeat;
  width: 600px;
  height: 537px;
}
#bgfade {
  position: absolute;
  top: 0;
  background: url(/anime/assets/img/vn-blackfade.png) repeat-x;
  width: 100%;
  height: 700px;
}
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(/anime/assets/img/vn-background.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**ALIGNMENT FOR VERTICAL MONITOR**/
.list-container, .list-unit, .list-status-title {
  width: 900px !important;
}

.list-stats, .status-menu-container {
  width: 898px !important;
}

.header {
  width: 940px;
}

.status-menu {
  margin: 0px 0px 0px 60px !important;
  border-spacing: 20px 0 !important;
}

/**ALIGNMENT FOR REGULAR MONITOR**/
/*.list-container, .list-unit, .list-status-title {
  width: 1024px !important;
}
.list-stats, .status-menu-container {
  width: 1022px !important;
}*/

#tags-clear {
  font-size: 9px;
  cursor: pointer;
}

/**HEADER**/
.header {
  text-shadow: 0 0 2px black !important;
}

.header a:hover {
  text-shadow: 0 0 6px black !important;
  color: #C2CAD9 !important;
}

.header .header-menu .list-menu .icon-menu {
  color: #53565B !important;
  font-weight: normal !important;
  text-shadow: none !important;
  font-size: 1.3em !important;
  background: none !important;
  transition-property: none;
}

.header .header-menu .list-menu {
  border: #959BA5 1px solid !important;
  background-color: #E3E7F2 !important;
  transition: background-color 0.3s;
  box-shadow: 0 0 2px black !important;
}

.header .header-menu .list-menu:hover {
  background-color: #C2CAD9 !important;
}

.header .header-menu .list-menu .icon-menu svg.icon, .header .header-menu .list-menu .icon-menu svg.icon:hover {
  fill: #53565B !important;
}

/**LIST**/

.list-table {
  background: rgba(17, 34, 51, 0.737);
}
.list-table > tbody:nth-of-type(2n) {
  background: rgba(17, 34, 51, 0.737);
}
.list-table > tbody:nth-of-type(2n+1) {
  background: none;
}

.list-table tbody .list-table-header {
  background: #0d2741 !important;
}

#header {
  position: absolute;
  top: 80px;
  left: 40%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@media all and (max-width: 1000px) {
  #header {
    left: 400px;
  }
}
#header h1, #header h1 a {
  font-family: "Futura","Century New Gothic","Arial",Serif;
  font-size: 24px;
  font-style: italic;
  border: none !important;
  color: #135;
}

/*.list-stats,*/ .status-menu-container, #status-menu {
  border: 1px solid #258 !important;
  background: rgba(17, 34, 51, 0.737) !important;
  margin-bottom: 14px;
}

.list-status-title, .list-container, .list-block, .header-title, .list-table-header {
  background-color: transparent !important;
}

/* MAL-like mobile behavior */
.no-select-touch {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -ms-tap-highlight-color: rgba(0,0,0,0);
  -o-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

tr:hover:not(.list-table-header) {
  background: rgba(40, 10, 40, 0.6) !important;
}

.list-table .list-table-header .header-title {
  background-image: none;
}

.more-content tr:hover {
  background: none !important;
}

/*BORDERS*/
table.list-table {
  border: 1px solid #258 !important;
}

.list-table-header > tbody:nth-of-type(2n+1), .list-table-data .data, .header-title {
  border: 0 transparent solid !important;
}

.list-container {
  border: none;
  top: 169px;
}

.data.image .image {
  border: 1px solid #258 !important;
  object-fit: cover;
}

tr.more-info {
  border-bottom: black 1px solid !important;
  border-top: black 1px solid !important;
}

/*TEXT*/
.list-table .list-table-data .data.title .link {
  font-weight: normal;
}
a {
  text-decoration: none !important;
}

a.edit, .rewatching, .content-status {
  color: #e82929 !important;
  font-style: italic;
}

.list-container a {
  color: #7bd;
  text-decoration: none;
}

.list-table .list-table-header .header-title .link {
  font-size: 12px;
}

.list-container a:hover {
  border-bottom: 1px dotted #ddd;
}

.list-table .list-table-data .tags a.edit:hover {
  color: #ec4646 !important;
}
.list-table .list-table-data a.edit-disabled {
  color: #a4a4a4 !important;
  font-weight: normal !important;
}

.list-table .list-table-data a.edit-disabled:hover {
  color: #a4a4a4 !important;
  font-weight: normal !important;
}

span.edit {
  font-style: italic;
}

.add-edit-more {
  color: #e82929;
}
b.notes {
  font-weight: normal;
  color: #258;
  margin-left: 10px;
}
.list-item, .list-stats {
  color: #ddd !important;
}

.header-title {
  color: #7bd !important;
}

.header-title a {
  color: #7bd !important;
}

.header-title.number {
  color: #a4a4a4 !important;
}

div[class^="tags"] {
  font-size: 9px;
  line-height: 12px;
  font-family: Verdana;
}

.data.number {
  font-size: 12px;
}
td {
  line-height: 15px;
}
td.title {
  line-height: 14px;
}
.sort-category {
  cursor: pointer;
}

.list-status-title .text {
  text-align: left !important;
  padding-left: 15px !important;
  color: #C2CAD9 !important;
  font-size: 2.4em !important;
  letter-spacing: -2px;
  text-transform: uppercase !important;
  font-weight: bold !important;
  font-family: Tahoma, Arial, sans-serif !important;
}

.header-title .link {
  transition-property: none !important;
}
.list-table .list-table-data .data.title .link {
  font-size: 12px;
}

.header-title .link:hover {
  transition-property: none !important;
}

/**STATUS BUTTONS**/
.status-button {
  color: #7bd !important;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.status-button.on {
  /*font-weight: bold;*/
  text-shadow: 1px 0px 0px #7bd;
}

.status-button:hover {
  color: #7bd !important;
}

.status-button.on {
  color: #7bd !important;
}

.status-button:after {
  background-color: #7bd !important;
}

.status-menu-container .status-menu .status-button:hover:after {
  opacity: 0.5 !important;
}

.status-menu-container .status-menu .status-button.on:hover:after {
  opacity: 1 !important;
}

/**LOADING SPACE**/
div.loading-space {
  height: 38px !important;
  /*background-image: url('https://imgur.com/QG96xiL.png');*/
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

i#loading-spinner {
  color: white !important;
  margin-top: 8px !important;
}

/**COPYRIGHT**/
#footer-block {
  background: none;
  padding-top: 0px !important;
}

#copyright {
  text-shadow: 0 0 2px black;
  color: white !important;
  font-size: 14px;
}

/**IMAGE HOVERING**/
.list-table .list-table-data .data.number {
  height: 70px;
}

.list-table .list-table-data .data.image .image {
  background-color: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 62px;
  position: absolute;
  margin-left: -27px;
  margin-top: -32px;
  z-index: 0;
  transition: all 0.35s;
  transition-timing-function: ease;
  pointer-events: none;
}

.list-table .list-table-data:hover .data.image .image {
  position: absolute;
  width: 110px;
  height: 136px;
  z-index: 99;
  margin-left: -79px;
  margin-top: -65px;
  box-shadow: 0 0 6px 3px #258;
}

.status-menu-container {
  z-index: 200;
}

/**SEARCH BAR**/
.status-menu-container .search-container #search-box input {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-color: #73e70c;
  border-style: solid;
  border-width: 1px;
  padding-left: 4px;
  padding-right: 4px;
}

.status-menu-container .search-container #search-box.open {
  box-shadow: 0 0 4px 2px #73e70c;
}

.status-menu-container .search-container #search-box {
  transition: width 0.3s, box-shadow 0.3s;
}

.status-menu-container .search-container #search-button {
  margin-left: 6px;
}
