/*========== Fonts.css ===========*/
/* All custom fonts are loaded here. */

/* Dredwerkz */
@font-face {
  font-family: "Dredwerkz";
  src: url("../Fonts/Dredwerkz.ttf") format("truetype");
}

/* Elemental End */
@font-face {
  font-family: "Elemental End";
  src: url("../Fonts/ElementalEnd.ttf") format("truetype");
}

/* Eurostar */
@font-face {
  font-family: "Eurostar";
  src: url("../Fonts/Eurostar.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Eurostar";
  src: url("../Fonts/EurostarBlack.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Eurostar Extended";
  src: url("../Fonts/EurostarBlackExtended.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Eurostar Extended";
  src: url("../Fonts/EurostarRegularExtended.ttf") format("truetype");
  font-weight: normal;
}