@font-face {
  font-family: 'Kavoon';
  font-style: normal;
  font-weight: 400;
  src: local('Kavoon Regular'), local('Kavoon-Regular'), url(http://fonts.gstatic.com/s/kavoon/v4/CuvH69872GCz__gaf4SQDQ.woff) format('woff');
}

body {
	margin: 0px;
	background-image: url('../Images/bgBlue.jpg');
	background-color: #28688B;
	color: #FFF;
	font-family: Tahoma,Arial,sans-serif;
	font-size: 15px;
}

h1 {
	text-align: center;
	font-family: 'Kavoon', Georgia,serif;
	text-shadow:0px 0px 4px #000;
	font-weight: 500;
	font-size: 63px;
	color: cyan;
}

@media (max-width: 750px) {
	
	.tickerText {
		display: none;
	}
	.col {
		width: 50%;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
		max-width:930px
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.title {
	text-align: center;
	font-family: 'Kavoon', Georgia,serif;
	text-shadow: 0px 0px 4px #000;
	font-weight: 500;
	font-size: 63px;
	color: cyan;
	margin-top: 32px;
}
.titleVersion {
	font-size: 28px;
	margin-bottom: 48px;
}

.thumbnail > img, .thumbnail a > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
	box-sizing: border-box;
	vertical-align: middle;
}
*:before, *:after {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

.container {
	margin-right: auto;
	margin-left: auto;
	display: block;
	box-sizing: border-box;
	padding: 0px 15px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
	background: url('../Images/panelVertical.png') repeat-y scroll 0px 0px, url('../Images/panelVertical.png') repeat-y scroll right 0px, url('../Images/darkNoise.jpg') repeat scroll 0px 0px #1F1F1F;
	color: #C7C7C7;
	height: 100%;
	position: relative;
}

a:link, a:visited {
    color: #0CC;
    text-decoration: underline;
    cursor: auto;
	cursor: pointer;
	text-decoration: none;
}

a:link:active, a:visited:active {
    color: #5FF;
} 
a {
    background: none repeat scroll 0px 0px transparent;
    text-decoration: none;
}
.col {
	width: 25%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 1px;
	box-sizing: border-box;
}

@media (max-width: 650px) {
	
	.col {
		width: 50%;
	}
}
.caption {
	padding: 9px;
	text-align: center;
	color: #808080;
}

.thumbnail {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857;
	background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 4px;
	transition: all 0.2s ease-in-out 0s;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid #242424;
	color: #C7C7C7;
	box-sizing: border-box;
}

.section.indent {
	width: 100%;
	text-align: center;
	font-family: "Kavoon",Georgia,serif;
	font-size: 28px;
	text-shadow: 0px 0px 4px #000;
	color: #FFF;
	margin: 0px 20px;
	padding: 32px 0px;
	border-radius: 6px;
	width: calc(100% - 40px);
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
}
.section.indent.small {
	width: 100%;
	text-align: center;
	font-family: "Kavoon",Georgia,serif;
	font-size: 28px;
	text-shadow: 0px 0px 4px #000;
	color: #FFF;
	margin: 0px 20px;
	padding: 1px 0px;
	border-radius: 6px;
	width: calc(100% - 40px);
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
}
.footer p {
    margin: 0px;
}
h2 {
	font-family: 'Kavoon', Georgia,serif;
	text-shadow:0px 0px 4px #000;
	font-weight: 400;
	font-size: 24px;
	color: #F82;
	margin-bottom: 8px;
}

.subheader {
}
.subsection {
	margin: 20px 20px;
}
.subsubsection {
	margin: 20px 20px;
}

pre {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	display: block;
	margin: 12px 0px 10px;
	padding: 9.5px;
	font-size: 13px;
	line-height: 1.42857;
	word-break: break-all;
	word-wrap: break-word;
	border-radius: 4px;
	color: #6FADD6;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid #000;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
	overflow: auto;
	max-height: 150px;
	page-break-inside: avoid;
	width:100%;
}

.header {
	box-sizing: border-box;
	margin-bottom: 20px;
	height: 65px;
	background: url('../Images/panelHorizontal.png') repeat-x scroll 0px bottom transparent;
}
.footer {
	box-sizing: border-box;
	margin-bottom: 0px;
	font-size: 12px;
	padding: 28px 0px 25px;
	color: #777;
	background: url('../Images/panelHorizontal.png') repeat-x scroll 0px top transparent;
	text-align: center;
}

#modListButton {
	left: 16px;
	padding-top: 16px;
	background-position: 0px 0px;
}
#modListButton:hover, #modListButton.selected {
	background-position: 0px 96px;
}
#changeLogButton {
	right: 16px;
	background-position: 144px 0px;
}
#changeLogButton:hover, #changeLogButton.selected {
	background-position: 144px 96px;
}

a.headerButton {
	font-family: 'Kavoon', Georgia,serif;
	background-image: url('../Images/panelMenuBig.png');
	background-position: 0px 0px;
	width: 96px;
	height: 48px;
	position: absolute;
	z-index: 100;
	width: 144px;
	height: 49px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	box-sizing: border-box;
	padding-top: 16px;
	color: #999;
	text-shadow: 0px 1px 0px #444, 0px 0px 4px #000;
}
.headerButton:hover, .headerButton.selected {
	color: #FFF;
}

.crate {
	width:48px;
	height:48px;
	margin:6px;
	display:inline-block;
	position:relative;
	background:#000;
	float:left;
}
.crate:before {
	content:'';
	position:absolute;
	left:-6px;
	top:-6px;
	width:60px;
	height:60px;
	display:block;
	background:url(../Images/upgradeFrame.png);
	background-position:0px 60px;
	z-index:10;
}
.crate.heavenly:before {
	background:url(../Images/upgradeFrameHeavenly.png);
	content:'';
	position:absolute;
	left:-6px;
	top:-6px;
	width:60px;
	height:60px;
	display:block;
	background-position:0px 60px;
	z-index:10;
}

.separator {
	width: 100%;
	border-bottom: 1px solid #333;
	margin: 18px 0px 10px;
}
.separator.thin {
	margin: 10px 0px 0px 0px;
}
.listing {
	padding: 3px 16px;
	font-size: 13px;
}

.sectionTitle {
	margin-left: 16px;
	font-family: "Kavoon",Georgia,serif;
	font-size: 36px;
	text-shadow: 0px 0px 4px #000;
	color: #1CD;
	height: 46px;
	display: inline-block;
}

@media (max-width: 700px) {
	.sectionTitle {
		font-size: 20px;
		padding-top: 12px;
	}
	h2 {
		font-size: 20px;
	}
}
.icon {
	background-image: url('../Images/icons.png');
	width: 48px;
	height: 48px;
	display: inline-block;
	margin: 0px 4px;
	padding: 0px;
	border: 0px none;
}


.tickerText {
	font-family: "Kavoon",Georgia,serif;
	padding: 16px 0px;
	position: absolute;
	top: 0px;
	left: 108px;
	right: 108px;
	opacity: 1;
	text-align: center;
	font-size: 16px;
	color: #FFF;
}
#tickerText {
	z-index: 20;
}
#tickerTextBelow {
	z-index: 10;
}

.risingUp {
    animation: 1s ease 0s normal forwards 1 running riseUp;
}
.risingAway {
    animation: 1s ease 0s normal forwards 1 running riseAway;
}
a.getButton {
	font-size: 20px;
	margin: 4px auto;
	padding: 6px 12px;
	background: none repeat scroll 0% 0% #058;
	box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px 1px rgba(0, 0, 0, 0.5) inset, 0px 0px 12px 2px #0CF inset;
	text-shadow: 0px 1px 2px #000;

	font-size: 20px;
	margin: 4px auto;
	padding: 6px 12px;
	background: none repeat scroll 0% 0% #058;
	box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px 1px rgba(0, 0, 0, 0.5) inset, 0px 0px 12px 2px #0CF inset;
	text-shadow: 0px 1px 2px #000;
	border-width: 0px;
	border-style: ridge;
	border-radius: 3px;
	transition: opacity 0.1s ease-out 0s;
	border-image: none;
	display: inline-block;
	color: #CCC;
	text-align: center;
	text-decoration: none;
}

a.getButton:visited {
	color: #CCC;
}



a.getButton:hover
{
	background:#0cf;
	box-shadow:0px 0px 1px 2px rgba(0,0,0,0.5),0px 2px 4px rgba(0,0,0,0.25),0px 1px 1px 1px rgba(0,0,0,0.5) inset,0px 0px 12px 2px #8ef inset;
	text-shadow:0px 1px 2px #000;
	color:#fff;
}

a {
	cursor: pointer;
}

