
.project-item {
  padding: 4px;
  display: flex;
  box-shadow: 0 0 3px rgb(153, 153, 153);
  background: white;
  margin-bottom: 10px;
}
/*.project-item:after {
  content: "";
  display: table;
  clear: both;
}*/

.project-item .image {
  width: 30%;
}
.project-item .info {
  width: 70%;
}
.project-item h3, .project-item p {
  margin: 8px;
}
.project-item h3 a {
  display: block;
}
.project-item p {
  font-size: 15px;
}

.project-item img {
  width: calc(100% - 24px);
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  padding: 4px;
  background-color: #eef;
  margin: 8px;
}

@media screen and (max-width: 600px) {
  .project-item .image {
    width: 70%;
  }
  .project-item .info {
    width: 100%;
  }
  .project-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}