/*=========== Main.css ===========*/

/*============= BODY =============*/
#MainBody {
	font-family: Eurostar;
	font-weight: normal;

	margin-bottom: 20px;
}

#Wrapper {
	background-color: rgb(233, 233, 233);
	box-shadow: 0 0 6px rgb(153, 153, 153);
	
	max-width: 1132px;
	overflow: hidden;

	margin: 0 auto;
	position: relative;
}

/*============ HEADER ============*/
#Header {

}

#TitleBackground {
	background-image: url("../Images/TitleFractalBorder.png");
	background-repeat: repeat-x;
	background-position: center center;

	height: 140px;
	text-align: center;
}

#SiteTitle {
	font-family: Eurostar;
	font-size: 50px;
	font-weight: bold;
	color: rgb(40, 40, 40);
	text-shadow: 0 0 12px rgb(0, 190, 230);

	line-height: 140px;
	margin: 0 30px;
	white-space: nowrap;
}

#NavigationBar {
	box-shadow: 0 0 8px rgb(80, 80, 80);
	background-color: rgb(17, 77, 107); /* Old browsers */
	/* IE6-9 */
	/* FF3.6+ */
	/* Chrome,Safari4+ */
	/* Chrome10+,Safari5.1+ */
	/* Opera 11.10+ */
	display: block;
	height: 56px;
	margin: 0 1.76%;
	padding: 0 26px;
	background-image: linear-gradient(to bottom, rgb(17, 77, 107) 0%, rgb(0, 121, 155) 50%, rgb(9, 31, 53) 100%);/* IE10+ */
	/* W3C */
	}

#NavigationBar ul {
	float: left;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

#NavigationBar li {
	font-family: Eurostar;
	font-size: 24px;
	font-weight: bold;
	color: rgb(15, 28, 34);
	text-shadow: 0 0 4px rgb(129, 205, 263);
	
	float: left;
	line-height: 56px;
	margin: 0;
	padding: 0;
	position: relative;
}

#NavigationBar a {
	display: block;
	height: 56px;
	padding: 0 16px;
	text-align: center;
}

#NavigationBar a:hover {
	background-color: rgb(54, 104, 130); /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#366882', endColorstr='#2e455b', GradientType=0); /* IE6-9 */
	background-image: -moz-linear-gradient(top, rgb(54, 104, 130) 0%, rgb(82, 171, 196) 50%, rgb(46, 69, 91) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(54, 104, 130)), color-stop(50%, rgb(82, 171, 196)), color-stop(100%, rgb(46, 69, 91))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, rgb(54, 104, 130) 0%, rgb(82, 171, 196) 50%, rgb(46, 69, 91) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, rgb(54, 104, 130) 0%, rgb(82, 171, 196) 50%, rgb(46, 69, 91) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, rgb(54, 104, 130) 0%, rgb(82, 171, 196) 50%, rgb(46, 69, 91) 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, rgb(54, 104, 130) 0%, rgb(82, 171, 196) 50%, rgb(46, 69, 91) 100%); /* W3C */
}

#NavigationBar li.CurrentPage > a, #NavigationBar li.CurrentPage > a:hover {
	background-color: rgb(10, 45, 63); /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a2d3f', endColorstr='#04101c', GradientType=0); /* IE6-9 */
	background-image: -moz-linear-gradient(top, rgb(10, 45, 63) 0%, rgb(0, 67, 86) 50%, rgb(4, 16, 28) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(10, 45, 63)), color-stop(50%, rgb(0, 67, 86)), color-stop(100%, rgb(4, 16, 28))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, rgb(10, 45, 63) 0%, rgb(0, 67, 86) 50%, rgb(4, 16, 28) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, rgb(10, 45, 63) 0%, rgb(0, 67, 86) 50%, rgb(4, 16, 28) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, rgb(10, 45, 63) 0%, rgb(0, 67, 86) 50%, rgb(4, 16, 28) 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, rgb(10, 45, 63) 0%, rgb(0, 67, 86) 50%, rgb(4, 16, 28) 100%); /* W3C */
}

/*============ FOOTER ============*/
#Footer {
    clear: both;
}

#Copyright {
    background-position: 0% 0%;
	color: rgb(153, 153, 153);

	background-color: rgb(227, 227, 227); /* Old browsers */
	/* IE6-9 */
	/* FF3.6+ */
	/* Chrome,Safari4+ */
	/* Chrome10+,Safari5.1+ */
	/* Opera 11.10+ */
	clear: both;
	line-height: 40px;
	padding: 0 20px;
	background-image: linear-gradient(to bottom, rgb(227, 227, 227) 0%, rgb(221, 221, 221) 100%);
/* IE10+ */
	/* W3C */
    background-repeat: repeat;
	background-attachment: scroll;
}

#Copyright p {
    margin: 0;
}

#Copyright a {
    color: rgb(91, 117, 139);
    text-decoration: none;
}

#Copyright a:hover {
    color: rgb(212, 34, 67);
}

.Copyright {
    float: left;
    max-width: 728px;
}

.Credits {
    float: right;
    max-width: 370px;
    margin-right: 12px;
    text-align: right;
}

/*=========== ARTICLES ===========*/
#Container {
	margin: 1.76%;
}

#Content {
	box-shadow: none;
	background: none repeat scroll 0% 0% transparent;
}

.BottomLink {
	color: rgb(54, 104, 130);
}

.ConstructionDiv {
	box-shadow: 0 0 3px rgb(153, 153, 153);
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	margin-bottom: 2.7%;
	padding: 1.0% 2.7%;
	color: rgb(212, 34, 67);
}
.ArticleBase {
	box-shadow: 0 0 3px rgb(153, 153, 153);
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	margin-bottom: 2.7%;
}
.ArticleContents {
	padding: 2.7%;
}

.ArticleFooter {
	box-shadow: inset 0 6px 6px -6px rgb(153, 153, 153);
	background: none repeat scroll 0% 0% rgb(216, 216, 216);
	padding: 8px 20px;
}

.EntryHeader {
	margin-left: 42.55%;
}
.EntryBlogHeader {
}

.EntryTitle {
	font-family: Eurostar Extended;
	font-size: 24px;
	font-weight: bold;
	
	line-height: 1.62em;
	margin: 0;
	overflow: hidden;
}

.EntryMeta {
    font-size: 14px;
    color: rgb(119, 119, 119);

    margin-bottom: 18px;
}

.EntrySummary {
	margin-left: 42.55%;
}
.EntryBlogSummary {
}

.EntrySummary p {
    margin: 0;
}

.EntryPreview {
	background: none repeat scroll 0% 0% rgb(233, 233, 233);
	box-shadow: 0 0 3px rgb(170, 170, 170);

	float: left;
	max-width: 38.2%;
	padding: 0.71%;
}

