---
layout: htmldoc
---
<head>
  {%- include head.html -%}
  {%- unless page.redirect_seo -%}
    <link rel="stylesheet" type="text/css" href="/assets/css/video-container.css"/>
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  {%- endunless -%}
</head>

{%- if page.redirect_seo -%}
<script>location="{{ page.redirect_seo | absolute_url }}"</script>
{%- else -%}
<body>
  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}
</body>
{%- endif -%}
