---
layout: default
---

<div class="home">
  {%- assign hide_title = page.hide_title | default: false -%}
  {%- unless hide_title -%}
    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>
  {%- endunless -%}

  {%- if page.description -%}
    <p>{{ page.description | escape }}</p>
  {%- endif -%}

  {{ content }}

  {%- assign posts = site.posts -%}
  {%- if page.category -%}
    {%- assign posts = site.categories[page.category] -%}
  {%- endif -%}
  {%- if posts and posts.size > 0 -%}
    <!--<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>-->
    <ul class="post-list">
      {%- for post in posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {%- else -%}
    <p><strong>There's nothing here. :(</strong></p>
  {%- endif -%}
  {%- assign feed = '/feed.xml' -%}
  {%- if page.category -%}
    {%- assign feed = '/feed/' | append: page.category | append: '.xml' -%}
  {%- endif -%}
  <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ feed | relative_url }}">Subscribe</a></p>

</div>
