

#debug.nestState1 .arrow {
	background-color: #0A5;
}
#debug.nestState2 .arrow {
	background-color: #A00;
}
#debug.nestState3 .arrow {
	background-color: #07A;
}

.arrow.bookmark {
	background-color: #0AD;
}

#states {
	position: absolute;
	right: 180px;
	top: 0px;
	margin: 0px;
	padding: 0px 6px 6px 6px;
}

#states a {
	font-size: 11px;
	padding-left: 10px;
    display: inline-block;
    width: 48px;
    height: 12px;
    overflow: hidden;
    border: 1px solid #FFF;
    padding: 0px 16px 0px 0px;
    margin: 6px 3px 0px 0px;
	text-align: center;
}
#states a:hover
{
	border:3px double #fff;
	margin:-2px 1px -2px -2px;
}

.modeName {
	font-size: 15px;
	display: inline-block;
	vertical-align: 15%;
	padding-right: 8px;
}